layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
        // plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        //     format_left  "{mode} #[fg=white,bold]{session} {tabs}"
        //     format_right "{command_git_branch} {datetime}"
        //     format_space ""
        //
        //     mode_normal        "#[bg=blue] "
        //     mode_locked        "#[bg=red] "
        //     mode_resize        "#[bg=green] "
        //     mode_pane          "#[bg=magenta] "
        //     mode_tab           "#[bg=cyan] "
        //     mode_scroll        "#[bg=yellow] "
        //     mode_enter_search  "#[bg=yellow] "
        //     mode_search        "#[bg=blue] "
        //     mode_rename_tab    "#[bg=blue] "
        //     mode_rename_pane   "#[bg=blue] "
        //     mode_session       "#[bg=white] "
        //     mode_move          "#[bg=black] "
        //     mode_prompt        "#[bg=blue] "
        //     mode_tmux          "#[bg=lightred] "
        //
        //     // formatting for inactive tabs
        //     tab_normal              "#[fg=white] {index} :: {name} "
        //     tab_normal_fullscreen   "#[fg=white] {index} :: {name} [] "
        //     tab_normal_sync         "#[fg=white] {index} :: {name} <> "
        //     // formatting for the current active tab
        //     tab_active              "#[fg=black,bg=blue,bold,italic] {name} "
        //     tab_active_fullscreen   "#[fg=black,bg=blue,bold,italic] {name} [] "
        //     tab_active_sync         "#[fg=black,bg=blue,bold,italic] {name} <> "
        //
        //     command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        //     command_git_branch_format      "#[fg=blue] {stdout} "
        //     command_git_branch_interval    "10"
        //     command_git_branch_rendermode  "static"
        //
        //     datetime        "#[fg=#6C7086,bold] {format} "
        //     datetime_format "%A, %d %b %Y %H:%M"
        //     datetime_timezone "Europe/Berlin"
        // }
    }

    pane

    // pane size=2 borderless=true {
    //     plugin location="zellij:status-bar"
    // }
}
