[user]
	name = Simi Falaye
	email = Simi.Falaye@vecima.com
[color]
	ui = true
	status = auto
	branch = auto
	diff = auto
[merge]
	tool = kdiff3
[push]
	default = upstream
[alias]
	br = branch -vv
	st = status -uno
	tagsort = for-each-ref --sort=taggerdate --format '%(refname) %(taggerdate)' refs/tags
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
	excludesfile = /home/simifa/.gitignore_global
[pull]
	rebase = true
[commit]
	template = /home/simifa/.gitmessage
[init]
	templatedir = ~/.git_template
